body {
    margin: auto;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.header {
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.topnavbar {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.topnavbarbox {
    display: inline-block;
    text-align: left;
}

.image-cropper {
    width: 200px;
    height: 200px;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
    /* border-style: solid; */
    margin-left: 40px;
    margin-right: 40px;
    float: left;
}
#portrait {
  display: inline;
  margin: 0 auto;
  /* height: 100%; */
  /* width: auto; */
}

#about-me {
    color: #777777;
    margin-right: 40px;
}
